*.{$DOMAIN} {
  tls {
    dns porkbun {
      api_key {$PORKBUN_API_KEY}
      api_secret_key {$PORKBUN_API_SECRET_KEY}
    }
  }

  @vaultwarden host {$VAULTWARDEN_SUBDOMAIN}.{$DOMAIN}
  handle @vaultwarden {
    reverse_proxy vaultwarden:80
  }

  @portainer host {$PORTAINER_SUBDOMAIN}.{$DOMAIN} 
  handle @portainer {
    reverse_proxy https://portainer:9443 {
      transport http { 
        tls 
        tls_insecure_skip_verify 
      } 
    }
  }

  handle {
    abort
  }
}

http://{$HOMEPAGE_DOMAIN} {
  handle {
    reverse_proxy homepage:3000
  }
}
