*.hermetic.dev {
  tls {
    dns porkbun {
      api_key {$PORKBUN_API_KEY}
      api_secret_key {$PORKBUN_API_SECRET_KEY}
    }
  }

  @vaultwarden host vault.hermetic.dev
  handle @vaultwarden {
    reverse_proxy vaultwarden:80
  }

  @portainer host portainer.hermetic.dev 
  handle @portainer {
    reverse_proxy https://portainer:9443 {
      transport http { 
        tls 
        tls_insecure_skip_verify 
      } 
    }
  }

  handle {
    abort
  }
}
